@model IEnumerable<AgriculturalSupplyStore.ViewModels.MenuHangHoaVM>
@{
    ViewData["Title"] = "Danh Sách Hàng Hóa";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="content">
    <!-- Container Fluid-->
    <div class="container-fluid" id="container-wrapper">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Danh Sách Hàng Hóa</h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="./">Trang Chủ</a></li>
                <li class="breadcrumb-item">Hàng Hóa</li>
                <li class="breadcrumb-item active" aria-current="page">Danh Sách Hàng Hóa</li>
            </ol>
        </div>

        <div class="row">
            <div class="col-lg-12 mb-4">
                <!-- Simple Tables -->
                <div class="card">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary"><a asp-controller="HangHoa" asp-action="AdminCreateHangHoa">Thêm Hàng Hóa</a></h6>
                    </div>
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                                <tr>
                                    <th>Stt</th>
                                    <th>Hình</th>
                                    <th>Mã Hàng Hóa</th>
                                    <th>Tên Hàng Hóa</th>
                                    <th>Mã Vị Trí</th>
                                    <th>Mô Tả Đơn Vị</th>
                                    <th>Đơn Giá</th>
                                    <th>Tác Vụ</th>
                                </tr>
                            </thead>
                            <tbody>
                                 @{
                int stt = 1;
            }
            @foreach (var item in Model)
            {
                                <tr>
                                        <td>@stt</td>
                                        <td><img src="~/images/hanghoa_images/@item.Hinh" alt="@item.TenHh" style=" max-width: 50px; max-height: 100px;" class="img-fluid rounded shadow-sm" /></td>
                                        <td>@item.MaHh</td>
                                        <td>@item.TenHh</td>
                                        <td>@item.MaPhan</td>
                                        <td>@item.MoTaNgan</td>
                                        <td>@item.DonGia</td>
                                    <td><a asp-action="AdminDetailHangHoa" asp-route-mahh="@item.MaHh" class="btn btn-sm btn-primary">Chi tiết</a>
                                            <form asp-action="AdminDeleteHangHoa" method="post" style="display:inline;" onsubmit="return confirm('Bạn có chắc chắn muốn xóa sản phẩm @item.TenHh?');">
                                                <input type="hidden" name="mahh" value="@item.MaHh" />
                                                <button type="submit" class="btn btn-danger btn-circle btn-sm">
                                                    <i class="fas fa-trash"></i>
                                                </button>
                                            </form>
                                        </td>
                                </tr>
                                    stt++;
            }
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer"></div>
                </div>
            </div>
        </div>
        <!--Row-->      
    </div>
    <!---Container Fluid-->
</div>
        

