@model AgriculturalSupplyStore.ViewModels.MenuHangHoaVM
@{
    ViewData["Title"] = "Chỉnh sửa hàng hóa";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Container Fluid-->
<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Chỉnh Sửa Hàng Hóa</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./">Trang Chủ</a></li>
            <li class="breadcrumb-item">Danh Sách Hàng Hóa</li>
            <li class="breadcrumb-item active" aria-current="page">Chỉnh Sửa Hàng Hóa</li>
        </ol>
    </div>

    <div class="row justify-content-center">
        <div class="col-lg-6 ">
            <!-- Form Basic -->
            <div class="card mb-4">               
                <div class="card-body">
                    <form asp-action="AdminEditHangHoa" asp-validation-summary="ModelOnly" enctype="multipart/form-data">
                        <div class="form-group">
                            <label asp-for="@Model.MaHh"></label>
                            <input type="text" asp-for="@Model.MaHh" class="form-control">
                            <span asp-validation-for="@Model.MaHh" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.TenHh"></label>
                            <input type="text" asp-for="@Model.TenHh" class="form-control">
                            <span asp-validation-for="@Model.TenHh" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.TenAlias"></label>
                            <input asp-for="@Model.TenAlias" type="text" class="form-control">
                            <span asp-validation-for="@Model.TenAlias" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.MaPhan"></label>
                            <input type="text" asp-for="@Model.MaPhan" class="form-control">
                            <span asp-validation-for="@Model.MaPhan" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.MoTaNgan"></label>
                            <input type="text" asp-for="@Model.MoTaNgan" class="form-control">
                            <span asp-validation-for="@Model.MoTaNgan" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.SoLuong"></label>
                            <input type="number" asp-for="@Model.SoLuong" class="form-control">
                            <span asp-validation-for="@Model.SoLuong" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.DonGia"></label>
                            <input type="number" asp-for="@Model.DonGia" class="form-control">
                            <span asp-validation-for="@Model.DonGia" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.NgaySx"></label>
                            <input asp-for="@Model.NgaySx" class="form-control">
                            <span asp-validation-for="@Model.NgaySx" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.GiamGia"></label>
                            <input type="number" asp-for="@Model.GiamGia" class="form-control">
                            <span asp-validation-for="@Model.GiamGia" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.ChiTiet"></label>
                            <input type="text" asp-for="@Model.ChiTiet" class="form-control">
                            <span asp-validation-for="@Model.ChiTiet" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.MaNcc"></label>
                            <input type="text" asp-for="@Model.MaNcc" class="form-control">
                            <span asp-validation-for="@Model.MaNcc" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Hinh" class="text-black"></label>
                            <div class="custom-file">
                                <input type="file" name="Hinh" class="custom-file-input" id="customFile">
                                <label class="custom-file-label">Chọn ảnh</label>
                                <span asp-validation-for="@Model.Hinh" class="text-danger"></span>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Lưu Thông Tin</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
