@model AgriculturalSupplyStore.ViewModels.ChiTietHHVM

@{
    ViewData["Title"] = @Model.TenHh;
}
<!-- Header Start -->
<div class="container-fluid bg-breadcrumb">
    <div class="container text-center py-5" style="max-width: 900px;">
        <h4 class="text-white display-4 mb-4 wow fadeInDown " data-wow-delay="0.1s">@Model.TenHh</h4>
        <ol class="breadcrumb d-flex  justify-content-center mb-0 wow fadeInDown" data-wow-delay="0.3s">
            <li class="breadcrumb-items_first"><a>Trang Chủ</a></li>
            <li class="breadcrumb-items "><a>Phụ Tùng</a></li>
            <li class="breadcrumb-items "><a>@Model.TenHh</a></li>
        </ol>
    </div>
</div>

<div class="d-flex justify-content-center align-items-center">
    <div class="container row">
        <div class="col-md-6">
            <div class="text-center">
                <img src="~/images/hanghoa_images/@Model.Hinh" class="img-fluid rounded shadow-sm" style="max-width: 100%; height: auto;" alt="@Model.TenHh">
            </div>
        </div>
        <div class="col-md-6">
            <h1 class="display-5 text-primary">@Model.TenHh</h1>
            <dt class="col-sm-4 text-secondary">Điểm đánh giá: @Model.DiemDanhGia</dt>
            <p class="lead text-muted mt-1">@Model.MoTaNgan</p>
            <hr class="my-4">

            <dl class="row">
                <dt class="col-sm-4 text-secondary">Số lượng kho: @Model.SoLuongTon</dt>
                <dd class="col-sm-8"></dd>
               

                <dt class="col-sm-8 mt-4">
                    <h3 class="text-danger font-weight-bold">@(Model.DonGia.HasValue ? Model.DonGia.Value.ToString("#,##0.000") : "0") ₫</h3>
                </dt>
            </dl>
            <form asp-controller="GioHang" asp-action="AddToCart" asp-route-id="@Model.MaHh">
                <div class="form-group">
                    <label for="quantity" class="control-label">Chọn Số Lượng:</label>
                    <input name="quantity" id="quantity" type="number" min="1" max="@Model.SoLuongTon" class="form-control" />
                </div>
                <div class="d-flex justify-content-start mt-2">
                    <button class="btn btn-primary w-100 mt-3">Thêm vào giỏ hàng</button>
                </div>
            </form>
        </div>
        <div class="col-lg-12">
            <nav>
                <div class="nav nav-tabs mb-3">
                    <button class="nav-link active border-white border-bottom-0" type="button" role="tab"
                            id="nav-about-tab" data-bs-toggle="tab" data-bs-target="#nav-about"
                            aria-controls="nav-about" aria-selected="true">
                        Thông số kỹ thuật
                    </button>
                    <button class="nav-link border-white border-bottom-0" type="button" role="tab"
                            id="nav-mission-tab" data-bs-toggle="tab" data-bs-target="#nav-mission"
                            aria-controls="nav-mission" aria-selected="false">
                        Đánh giá
                    </button>
                </div>
            </nav>
            <div class="tab-content mb-5">
                <div class="tab-pane active" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
                    <p>
                        @Model.ChiTiet
                    </p>
                    <div class="px-2">
                        <div class="row g-4">
                            <div class="col-6">
                                <div class="row bg-light align-items-center text-center justify-content-center py-2">
                                    <div class="col-6">
                                        <p class="mb-0">Loại sản phẩm</p>
                                    </div>
                                    <div class="col-6">
                                        <p class="mb-0">@Model.TenPhan</p>
                                    </div>
                                </div>
                                <div class="row text-center align-items-center justify-content-center py-2">
                                    <div class="col-6">
                                        <p class="mb-0">Tên Alias</p>
                                    </div>
                                    <div class="col-6">
                                        <p class="mb-0">@Model.TenAlias</p>
                                    </div>
                                </div>
                                <div class="row text-center align-items-center justify-content-center py-2">
                                    <div class="col-6">
                                        <p class="mb-0">Công ty</p>
                                    </div>
                                    <div class="col-6">
                                        <p class="mb-0">@Model.TenCongTy</p>
                                    </div>
                                </div>
                                <div class="row bg-light text-center align-items-center justify-content-center py-2">
                                    <div class="col-6">
                                        <p class="mb-0">Ngày sản xuất</p>
                                    </div>
                                    <div class="col-6">
                                        <p class="mb-0">@Model.NgaySx.ToString("dd/mm/yyyy")</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
