@model IEnumerable<AgriculturalSupplyStore.ViewModels.MenuHangHoaVM>

<div class="">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>STT</th>
                <th>Tên hàng hóa</th>
                <th>Mã số</th>
                <th>Đơn giá</th>                         
            </tr>
        </thead>
        <tbody>
            @{
                int stt = 1;
            }
            @foreach (var item in Model)
            {
                <tr>
                    <td>@stt</td>
                    <td><a asp-controller="HangHoa" asp-action="Detail" asp-route-id="@item.MaHh">@item.TenHh</a></td>
                    <td>@item.MaHh</td>
                    <td>@item.DonGia</td>                                    
                </tr>
                stt++;
            }
        </tbody>
    </table>
</div>
