@model IEnumerable<AgriculturalSupplyStore.ViewModels.MenuHangHoaVM>

<div class="">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>STT</th>
                <th>Hình</th>
                <th>Tên hàng hóa</th>
                <th>Mã số</th>
                <th>Đơn giá</th>
                <th>Chi tiết</th>
            </tr>
        </thead>
        <tbody>
            @{
                int stt = 1;
            }
            @foreach (var item in Model)
            {
                <tr>
                    <td>@stt</td>
                    <td><img src="~/images/hanghoa_images/@item.Hinh" alt="@item.TenHh" /></td>
                    <td>@item.TenHh</td>
                    <td>@item.MaHh</td>
                    <td>@item.DonGia</td>   
                    <td><a asp-controller="HangHoa" asp-action="Detail" asp-route-id="@item.MaHh">Chi tiết</a></td>
                </tr>
                stt++;
            }
        </tbody>
    </table>
</div>
