@model IEnumerable<AgriculturalSupplyStore.ViewModels.GioHangHHVM>
@{
    ViewData["Title"] = "Thanh Toán";
}
<!-- Start Hero Section -->
<div class="container-fluid bg-breadcrumb">
	<div class="container text-center py-5" style="max-width: 900px;">
		<h4 class="text-white display-4 mb-4 wow fadeInDown " data-wow-delay="0.1s">Trang Đặt Hàng</h4>
		<ol class="breadcrumb d-flex justify-content-center mb-0 wow fadeInDown" data-wow-delay="0.3s">
			<li class="breadcrumb-items_first "><a>Trang Chủ</a></li>
			<li class="breadcrumb-items active text-primary"><a>Giỏ Hàng</a></li>
			<li class="breadcrumb-items active text-primary"><a>Trang Đặt Hàng</a></li>
		</ol>
	</div>
</div>
<!-- End Hero Section -->

<div class="">
	<div class="container">
		<div class="row mb-5">
			<div class="col-md-12">			
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 mb-5 mb-md-0">
				<h2 class="h3 mb-3 text-black d-flex align-items-center justify-content-center">Thông tin giao hàng</h2>
				<form asp-action="Checkout" asp-controller="GioHang">
					<div class="p-3 p-lg-5 border bg-white">
						<div class="form-check my-3">
							<input type="checkbox" name="GiongKhachHang" class="form-check-input" id="GiongKhachHang" value="false" />
							<label class="form-check-label" for="GiongKhachHang">Giống thông tin khách hàng</label>
						</div>
						<div class="form-group row delivery-info">
							<div class="col-md-12">
								<label for="c_companyname" class="text-black">Người nhận hàng</label>
								<input type="text" name="HoTen" class="form-control" id="c_companyname">
							</div>
						</div>

						<div class="form-group row delivery-info">
							<div class="col-md-12">
								<label for="c_address" class="text-black">Địa chỉ nhận hàng <span class="text-danger">*</span></label>
								<input type="text" name="DiaChi" class="form-control" id="c_address"  placeholder="Địa chỉ nhận hàng">
							</div>
						</div>

						<div class="form-group row delivery-info">
							<div class="col-md-6">
								<label for="c_state_country" class="text-black">Điện thoại <span class="text-danger">*</span></label>
								<input type="text" name="DienThoai" class="form-control" id="c_state_country">
							</div>					
							<div class="form-group ">
								<label for="c_order_notes" class="text-black">Ghi chú</label>
								<textarea name="GhiChu" id="c_order_notes" cols="30" rows="5" class="form-control" placeholder="Viết ghi chú cho cửa hàng..."></textarea>
							</div>

						</div>
						<div class="form-group mt-2">
							<button type="submit" class="btn btn-black btn-lg py-3 btn-block" onclick="window.location='thankyou.html'">Đặt Hàng</button>
						</div>
						</div>
				</form>
			</div>
			<div class="col-md-6">			
				<div class="row mb-5">
					<div class="col-md-12">
						<h2 class="h3 mb-3 text-black d-flex align-items-center justify-content-center">Đơn đặt hàng</h2>
						<div class="p-3 p-lg-5 border bg-white">
							<table class="table site-block-order-table mb-5">
								<thead>
								<th>Hình</th>
								<th>Tên Sản Phẩm</th>
								<th>Đơn Giá</th>
								<th>Số Lượng</th>
								<th>Thành Tiền</th>
								</thead>
								<tbody>
									@foreach(var item in Model)
									{
										<tr>
											<td><img src="~/images/hanghoa_images/@item.Hinh" alt="@item.TenHh" width="50px;" /></td>
											<td>@item.TenHh</td>
											<td>@item.DonGia.ToString("#,##0.000")₫</td>
											<td>@item.SoLuong</td>
											<td>@item.ThanhTien.ToString("#,##0.000")₫</td>
										</tr>
									}	
									<tr>
										<th scope="row">
										</th>
										<td class="py-5"></td>
										<td class="py-5"></td>
										<td class="py-5">
											<p class="mb-0 text-dark py-3">Tổng cộng:</p>
										</td>
										<td class="py-5">
											<div class="py-3 border-bottom border-top">
												<p class="mb-0 text-dark">
													@Model.Sum(p => p.ThanhTien).ToString("#,##0.000")₫
												</p>
											</div>
										</td>
									</tr>
								</tbody>
							</table>							
						</div>
					</div>
				</div>

			</div>
		</div>
		<!-- </form> -->
	</div>
</div>
@section Scripts {
	<script>
		$(document).ready(function(){
			$("#GiongKhachHang").change(function(){
				if($(this).prop("checked")){
					$(this).val(true);
					$(".delivery-info").addClass("d-none");
				}else{
					$(this).val(false);
					$(".delivery-info").removeClass("d-none");
				}
			});
		});
	</script>
}									